/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

/* Base files. */
@import "base/normalize";
@import "base/variables";
@import "base/functions";
@import "base/base-styles";
@import "base/utils";
@import "base/typography";

/* Modules */
@import "modules/grid";
@import "modules/buttons";
@import "modules/forms";
@import "modules/lists";
@import "modules/code";
@import "modules/nav";
@import "modules/tables";
@import "modules/spacing";
@import "modules/media-queries";

body {
  background-color: white;
}

.menu{

      background-image: url(../images/menu.png);
      background-repeat: no-repeat;
      background-size: 25px;
      background-position-x: right;
      height: 25px;
}


.medium{
  padding-top: 50px;
}

.main_copy{
  font-family: muli;
}

.center{
  text-align: center;
}

.primary-color{
  color: $primary-color;
}

.riga{
background-color: $primary-color;
height: 2px;
margin-bottom: 20px;
margin-top: 20px;
}

a.medium_notran, a.medium_tran{
color:$font-color;
}

a.medium_notran:hover .highlight{
color: $primary-color;
    transition: 0.3s;
}
